.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}

.form *{
    margin-top: 10px;
}

.form__header{
    text-align: center;
}

.form__input{
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 18px;
    border: 1px solid grey;
}

.form__input:focus{
    outline: none;
}

.form__button{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 0;
    font-size: 24px;
    color: white;
    background-color: #68aac0;
    transition: 0.5s all;
}

.form__button:hover{
    background-color: white;
    color: #68aac0;
    border: 1px solid #68aac0;
}

.switch__label{
    font-size: 18px;
}

.switch{
    margin-bottom: 15px;
}