*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    padding-top: 20px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}